*/project_tt.cache/
*/project_tt.runs/
*/project_tt.ip_user_files/
*.hwh
*.tcl
*/red_pitaya_top.sv
*.vhd
*.log
*.lpr
*.xpr
*.jou
*.str
*.hic
*.xdc
*.vhdl
*.xml
*.zip
*.veo
*.vho
*.txt
*.xci
*.dcp
*.ui
*.bd
*.bxml
FOG_kalmman3/project_tt.srcs/sources_1/imports/fpga/rtl/axi4_stream_reg.sv
